.aboutme-container {
  background-color: #21363f;
  height: auto;
  float: left;
  clear: none;
  width: 100%;
  margin: 0;
  font-family: 'ProximaNovaCond-Regular';
  font-weight: normal;
  font-size: 20px;
  color: #fff;
  padding: 60px 20px;
}

#about-me-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #f9f1f1;
  display: block;
  width: auto;
}

#about-me-paragraph{
  color: #f9f1f1;
  margin-top: 15px;
  font-family: 'Niramit', sans-serif;
  line-height: 48px;
  max-width: 480px;
  width: 100%;
  margin: auto;
}

