.contact-container {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}


.contact-header {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    padding-top: 150px;
    font-weight: bolder;
}

.contact-img {
   width: auto;
   height: 450px;
   display: block;
}

.contact-name {
    font-weight: bold;
    font-size: 25px;
}



ul {
    list-style: none;
}

li {
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 150%;
    padding: 0 15px 0 15px;
    margin-top: 30px;
}

.linkedin-link {
    display: inline-block;
    height: 25px;
    width: 100px;
    background-image: url(../assets/img/Linkedin-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}

.github-link {
    display: inline-block;
    height: 25px;
    margin-right: 20px;
    width: 25px;
    position: absolute;
    top: 10;
    background-image: url(../assets/img/gh-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 780px) {
    .contact-left {
        float: left;
        width: 50%;
    }
    .contact-right {
        float: left;
        width: 50%;
    }
    .contact-section {
        padding-left: 130px;
        padding-top: 50px;
    }
}
