.header-container {
  background-color: #233142;
  text-align: center;
  width: 100%;
  float: left;
  clear: none;
}

h1 {
  color: floralwhite;
  font-family: 'Kosugi Maru', sans-serif;
}

h2 {
  color: floralwhite;
  font-family: 'Lato', sans-serif;

}

h3 {
  color: floralwhite;
  font-family: 'Roboto Condensed', sans-serif;
  font-variant: small-caps;
}

h4, .logo-links {
  color: #455d7a;
}
#gh-logo, #linkedIn-logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 12px;
}